projects/graffiti/client/dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge"><title>Graffiti</title><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="description" content="Draw what you want here with WebSockets."><link rel="apple-touch-icon" href="/favicon152.png"><style>body{font-size:1.2rem;line-height:1.4;font-family:system-ui,Ubuntu,"Segoe UI",BlinkMacSystemFont,Roboto,sans-serif}body code,body pre{font-family:ui-monospace,"Ubuntu Mono","Cascadia Mono","Segoe UI Mono","Roboto Mono",monospace}a{text-decoration:none}a:hover{text-decoration:underline}body{font-size:1rem;background:#e6e4d4;margin:0;height:100vh;display:flex;flex-direction:column;justify-content:space-between;text-align:center;align-items:center}canvas{background:#fff;display:block}.palette{width:1000px;display:flex}.color{height:15px;flex-grow:1}header{color:#5c486a}footer{padding-bottom:10px;color:#4e6679}footer a{color:#621748}footer small a{color:#5c486a}</style></head><body><header><p>Draw with WebSockets (open a second tab).</p></header><div class="frame"><div class="palette"><div class="color" style="background:#000000" data-color="#000000"></div><div class="color" style="background:#FFFFFF" data-color="#FFFFFF"></div><div class="color" style="background:#89D9D9" data-color="#89D9D9"></div><div class="color" style="background:#72B6CF" data-color="#72B6CF"></div><div class="color" style="background:#5C8BA8" data-color="#5C8BA8"></div><div class="color" style="background:#4E6679" data-color="#4E6679"></div><div class="color" style="background:#464969" data-color="#464969"></div><div class="color" style="background:#44355D" data-color="#44355D"></div><div class="color" style="background:#3D003D" data-color="#3D003D"></div><div class="color" style="background:#621748" data-color="#621748"></div><div class="color" style="background:#942C4B" data-color="#942C4B"></div><div class="color" style="background:#C7424F" data-color="#C7424F"></div><div class="color" style="background:#E06B51" data-color="#E06B51"></div><div class="color" style="background:#F2A561" data-color="#F2A561"></div><div class="color" style="background:#FCEF8D" data-color="#FCEF8D"></div><div class="color" style="background:#B1D480" data-color="#B1D480"></div><div class="color" style="background:#80B878" data-color="#80B878"></div><div class="color" style="background:#658D78" data-color="#658D78"></div><div class="color" style="background:#7B334C" data-color="#7B334C"></div><div class="color" style="background:#A14D55" data-color="#A14D55"></div><div class="color" style="background:#C77369" data-color="#C77369"></div><div class="color" style="background:#E3A084" data-color="#E3A084"></div><div class="color" style="background:#F2CB9B" data-color="#F2CB9B"></div><div class="color" style="background:#D37B86" data-color="#D37B86"></div><div class="color" style="background:#AF5D8B" data-color="#AF5D8B"></div><div class="color" style="background:#804085" data-color="#804085"></div><div class="color" style="background:#5B3374" data-color="#5B3374"></div><div class="color" style="background:#412051" data-color="#412051"></div><div class="color" style="background:#5C486A" data-color="#5C486A"></div><div class="color" style="background:#887D8D" data-color="#887D8D"></div><div class="color" style="background:#B8B4B2" data-color="#B8B4B2"></div><div class="color" style="background:#DCDAC9" data-color="#DCDAC9"></div><div class="color" style="background:#FFFFE0" data-color="#FFFFE0"></div><div class="color" style="background:#B6F5DB" data-color="#B6F5DB"></div></div><canvas width="1000" height="1000"></canvas></div><footer><p>Created by <a href="/">Paul Nechifor</a>.</p><small><a href="/">Home</a> • <a href="/projects/">Projects</a> • <a href="https://gitlab.com/paul-nechifor/nechifor-web/-/blob/master/projects/graffiti/client/index.pug">Git source</a></small></footer><script src="index.js"></script></body></html>

projects/graffiti/client/index.pug
doctype html
include ../../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Graffiti',
      'Draw what you want here with WebSockets.'
    )
    style: :stylus(compress=true)
      @require '../../../common/common'
      body
        font-size 1rem
        background #e6e4d4
        margin 0
        height 100vh
        display flex
        flex-direction column
        justify-content space-between
        text-align center
        align-items center
      canvas
        background #fff
        display block
      .palette
        width 1000px
        display flex
      .color
        height 15px
        flex-grow 1
      header
        color #5C486A
      footer
        padding-bottom 10px
        color #4e6679
        a
          color #621748
        small
          a
            color #5c486a
  body
    - var palette = ['#000000', '#FFFFFF', '#89D9D9', '#72B6CF', '#5C8BA8', '#4E6679', '#464969', '#44355D', '#3D003D', '#621748', '#942C4B', '#C7424F', '#E06B51', '#F2A561', '#FCEF8D', '#B1D480', '#80B878', '#658D78', '#7B334C', '#A14D55', '#C77369', '#E3A084', '#F2CB9B', '#D37B86', '#AF5D8B', '#804085', '#5B3374', '#412051', '#5C486A', '#887D8D', '#B8B4B2', '#DCDAC9', '#FFFFE0', '#B6F5DB'];
    header
      p Draw with WebSockets (open a second tab).
    .frame
      .palette
        each color in palette
          .color(style="background:" + color, data-color=color)
      canvas(width="1000", height="1000")
    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/blob/master/projects/graffiti/client/index.pug')
    script(src="index.js")
