projects/keygen-radio/templates/index.pug
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Keygen Radio
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Listen endlessly to keygen chiptunes in JS.')
    link(rel='apple-touch-icon', href='/favicon152.png')
    link(rel='stylesheet', href='css.css')
  body
    .top-background
      h1
        a(href='.') Keygen Radio

    .bottom-background
      .footer
        :markdown-it
          Created by [Paul Nechifor](/).

        small: :markdown-it
          [Home](/) • [Projects](/projects/) • [Git source](https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/keygen-radio)

    // googleoff: all
    .player
      .song-name &nbsp;

      .controls
        .control.play Play
        .control.next(style="display:none") Next
        .control.pause(style="display:none") Pause
    // googleon: all

    script(src='js.js')

projects/keygen-radio/dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge"><title>Keygen Radio</title><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="description" content="Listen endlessly to keygen chiptunes in JS."><link rel="apple-touch-icon" href="/favicon152.png"><link rel="stylesheet" href="css.css"></head><body><div class="top-background"><h1><a href=".">Keygen Radio</a></h1></div><div class="bottom-background"><div class="footer"><p>Created by <a href="/">Paul Nechifor</a>.</p><small><p><a href="/">Home</a> • <a href="/projects/">Projects</a> • <a href="https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/keygen-radio">Git source</a></p></small></div></div><!-- googleoff: all--><div class="player"><div class="song-name">&nbsp;</div><div class="controls"><div class="control play">Play</div><div class="control next" style="display:none">Next</div><div class="control pause" style="display:none">Pause</div></div></div><!-- googleon: all--><script src="js.js"></script></body></html>
